html,
body {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 13pt;
}

::-moz-selection {
    background: transparent;
}

::selection {
    background: transparent;
}

a {
    color: #2c3e50;
}

.navbar {
    background-color: rgba(44, 62, 80, 0.95);
}

.name,
.nav-pills .nav-link {
    color: #fff;
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    color: #fff;
    cursor: default;
    background-color: #2c3e50;
    opacity: .8;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 10px 0;
    }
}

.intro-section {
    height: 100%;
    text-align: center;
    background: url(../images/bg.png) no-repeat 0 0;
    background-size: cover;
}

.intro-section .content {
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(+60%);
}

.about-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.about-section .content {
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(+50%);
}

.services-section {
    height: 100%;
    text-align: center;
    background: #fff;
}

.services-section .content {
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(+20%);
}

.contact-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.contact-section .content {
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(+70%);
}

.projects-section {
    height: 100%;
    text-align: center;
    background: #fff;
}

.projects-section .content {
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(+70%);
}

.other-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.other-section .content {
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(+50%);
}

.contact-item {
    font-size: 100px;
    color: #373a3c;
    margin: 0 20px;
}

.contact-item:focus,
.contact-item:hover {
    color: black;
    text-decoration: none;
}

.profile-picture {
    background: url('../images/profile.png') no-repeat;
    height: 200px;
    width: 200px;
    background-size: contain;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 62, 80);
}

.loading {
    position: fixed;
    z-index: 2000;
    height: 120px;
    width: 120px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #2c3e50; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}